<a href="https://colab.research.google.com/github/CeciiBloise/Tecnicatura-Superior-en-Ciencias-de-Datos-e-Inteligencia-Artificial/blob/main/Procesardataset_Grupo03_Ag%C3%BCero_Bloise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Actividad realizada en la materia desarrollo de progamas de ciencias de datos
##Realizamos un analisis exploratorio del problema planteado en clase, cantidad de incendios por provincia

## Importamos la libreria de panda ##

In [ ]:
import pandas as pd

Lectura de un archivo .csv.

In [ ]:
df=pd.read_csv('/content/incendios-cantidad-causas-provincia-grupo03.csv',sep=',')

# Ver informaci√≥n del dataframe

In [ ]:
df.describe()

,incendio_anio,incendio_total_numero,incendio_negligencia_numero,incendio_intencional_numero,incendio_natural_numero,incendio_desconocida_numero
count,629.000000,629.000000,629.000000,629.000000,629.000000,629.000000
mean,2006.047695,357.310016,91.828299,76.019078,18.216216,171.246423
std,7.747053,854.145208,233.155662,195.112322,72.382395,582.823887
min,1993.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1999.000000,22.000000,1.000000,0.000000,0.000000,0.000000
50%,2006.000000,91.000000,15.000000,6.000000,0.000000,16.000000
75%,2013.000000,275.000000,80.000000,54.000000,6.000000,100.000000
max,2019.000000,10321.000000,2693.000000,1662.000000,836.000000,7530.000000


#Cantidad de datos en el data frame.

In [ ]:
print(df.shape)

(629, 7)

#Primeros 5 registros de la serie.

In [ ]:
df.head()

,incendio_anio,incendio_provincia,incendio_total_numero,incendio_negligencia_numero,incendio_intencional_numero,incendio_natural_numero,incendio_desconocida_numero
0,1993,Buenos Aires,0,0,0,0,0
1,1993,Catamarca,0,0,0,0,0
2,1993,Chaco,0,0,0,0,0
3,1993,Chubut,21,18,0,0,3
4,1993,C?rdoba,151,0,0,0,151

#Ultimos 5 registros de la serie se utiliza la instrucci√≥n tail

In [ ]:
df.tail()

,incendio_anio,incendio_provincia,incendio_total_numero,incendio_negligencia_numero,incendio_intencional_numero,incendio_natural_numero,incendio_desconocida_numero
624,2019,San Juan,1223,234,989,0,0
625,2019,San Luis,47,20,11,0,16
626,2019,Santa Cruz,10,5,0,0,5
627,2019,Santiago del Estero,122,0,0,0,122
628,2019,Buenos Aires,1441,0,0,0,1441

# Diccionario de los campos de la base


**incendio_anio** -> A√±o de incendio

**incendio_provincia** -> Provincia

**incendio_total_numero** -> Numero de incendios totales

**incendio_negligencia_numero** -> Numero de incendios por negligencia

**incendio_intencional_numero** -> Numero de incendios intencionales

**incendio_natural_numero** -> Numero de incendios por causas naturales

**incendio_desconocida_numero** -> Numero de incendios por causas desconocidas

In [ ]:
df.dtypes #Tipo de datos del dataframe

incendio_anio                   int64
incendio_provincia             object
incendio_total_numero           int64
incendio_negligencia_numero     int64
incendio_intencional_numero     int64
incendio_natural_numero         int64
incendio_desconocida_numero     int64
dtype: object

#Ordenamos de manera descendente los campos con valores nulos

In [ ]:
df.isnull().sum().sort_values(ascending = False)

incendio_anio                  0
incendio_provincia             0
incendio_total_numero          0
incendio_negligencia_numero    0
incendio_intencional_numero    0
incendio_natural_numero        0
incendio_desconocida_numero    0
dtype: int64

#No poseemos valores nulos

## Eliminaci√≥n de un campo


Consideramos que no debemos borrar ning√∫n campo porque queremos predecir la cantidad de incendios por provincia y la cantidad de causas en com√∫n por las que se produjeron los incendios en las distintas provincias, por ende todos los campos actuales son necesarios.
Pero podemos eliminar aquellas provincias qud no tuvieron incendios en los √∫ltimos 20 a√±os

In [ ]:
df = df.drop(df[df['incendio_anio']<1999].index)

,incendio_anio,incendio_provincia,incendio_total_numero,incendio_negligencia_numero,incendio_intencional_numero,incendio_natural_numero,incendio_desconocida_numero
136,1999,Buenos Aires,4645,1874,447,642,1682
137,1999,Catamarca,6,3,3,0,0
138,1999,Chaco,557,34,503,0,20
139,1999,Chubut,145,57,47,0,41
140,1999,C?rdoba,55,2,0,0,53

In [ ]:
lugares=df['incendio_provincia'].unique() 
lugares.sort() #ordenamos los lugares alfabeticamente
print(lugares) #Mostramos todos los lugares donde hubo incendios
print("\nCantidad de lugares en las que hubo incendios: ", len(lugares))

['Buenos Aires' 'C?rdoba' 'Catamarca' 'Chaco' 'Chubut'
 'Ciudad Aut?noma de Buenos Aires' 'Corrientes' 'Entre R?os' 'Formosa'
 'Jujuy' 'La Pampa' 'La Rioja' 'Mendoza' 'Misiones' 'Neuqu?n'
 'Parques Nacionales' 'R?o Negro' 'Salta' 'San Juan' 'San Luis'
 'Santa Cruz' 'Santa F?' 'Santa Fe' 'Santiago del Estero'
 'Tierra del Fuego' 'Tucum?n']

Cantidad de lugares en las que hubo incendios:  26